# Created by .gitignore support plugin (hsz.mobi)
.idea
atlassian-ide-plugin.xml
build
/gradle.properties
/logFile.log
/out/
/.gradle/
/build/
scripthon-tool.iml
/scripthon-tool/logFile.log
/tree-analyzer/out/
/tree-matcher/out/
/scripthon-tool/out/
/scripthon-compiler/out/
