<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!-- <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}%caller{3, CALLER_DISPLAY_EVAL} -
                 %msg%n
             </Pattern>-->
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logFile.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}%caller{3, CALLER_DISPLAY_EVAL} -
                %msg%n
            </Pattern>
        </layout>
    </appender>

    <!--<logger name="cz.bublik.scripthon" level="INFO"/>-->

    <!--<root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>-->

    <logger name="cz.ctu" level="DEBUG">
    <appender-ref ref="STDOUT" />
    </logger>
    <logger name="cz.ctu" level="DEBUG">
    <appender-ref ref="FILE" />
    </logger>
</configuration>